# Q1.What are data structures and why are they important?
Data structures are specific formats for organizing and storing data in a computer, allowing for efficient data processing, retrieval, and management. They are important because they improve the performance of algorithms, save memory, and simplify the understanding and manipulation of data for both humans and machines, making them fundamental to all software systems

Q2**.difference between mutable and immutable data types with examples.**

The difference between mutable and immutable data types lies in whether their state can be changed after they are created.
Mutable Data Types:
Definition: Mutable data types are those whose values or contents can be modified after they have been initialized. You can change, add, or remove elements within the existing object without creating a new one.
Examples (in Python):

In [1]:
# list
my_list=[1,2,3,4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

**Immutable Data Types**:
Definition: Immutable data types are those whose values or contents cannot be altered once they have been created. Any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes.

In [9]:
my_tuple = (10, 20, 30)
# Trying to change a value will raise an error
# my_tuple[0] = 100
# This will cause TypeError
print(my_tuple)

(10, 20, 30)

3. What are the main differences between lists and tuples in Python?

The main differences between lists and tuples in Python are centered around their mutability, performance, and typical use cases.
a. Mutability:
# Lists are mutable: This means their elements can be changed (added, removed, or modified) after the list has been created.

Tuples:
# tuples are immutable: Once a tuple is created, its elements cannot be changed. Attempting to modify a tuple will result in a TypeError.

4. Describe how dictionaries store data?

Dictionaries in Python store data as key-value pairs, where each key is unique and
immutable (such as a string, number, or tuple), while each value can be of any data type
and can be duplicated.

5.Why might you use a set instead of a list in Python?

Uniqueness: Sets automatically ensure all elements are unique and remove duplicates,
while lists can contain duplicate values. This makes sets ideal when you need to store
only distinct items.
● Performance: Sets provide faster membership tests (checking if an element
exists) with average time complexity of O(1) due to their hash table
implementation, whereas lists have slower membership tests with O(n)
complexity because they check each element sequentially.
● Unordered Collection: Sets are unordered, so they do not maintain the insertion
order of elements and do not support indexing. Lists maintain order and support
indexing and slicing.
● Mathematical Operations: Sets support mathematical set operations such as
union, intersection, difference, and symmetric difference, which are very handy
for tasks involving comparison or combination of collections.

6.What is a string in Python, and how is it different from a list?

a.In Python, a string is a sequence of characters enclosed within single or double
quotes (e.g., "hello" or 'world'). It is an immutable data type, which means once a
string is created, its content cannot be changed.
b.A list is a sequence of items, where each item can be of any data type such as
string, number, or even another list. Lists are mutable, meaning their elements
can be modified, added, or removed after creation.

7.How do tuples ensure data integrity in Python?

a.In Python, a string is a sequence of characters enclosed within single or double
quotes (e.g., "hello" or 'world'). It is an immutable data type, which means once a string
is created, its content cannot be changed.
b.A list is a sequence of items, where each item can be of any data type such as string,
number, or even another list. Lists are mutable, meaning their elements can be modified,
added, or removed after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?

a.
A hash table is a data structure used to store key-value pairs for fast
insertion, lookup, and deletion. It works by using a hash function that
converts the key into a unique index, which determines where the
corresponding value is stored in an array. This enables quick access to
values regardless of the size of the collection. Hash tables handle
situations where multiple keys map to the same index (called collisions)
typically by methods like chaining or open addressing. The overall
efficiency of hash tables makes them widely used in programming for
tasks involving mapping and quick retrieval of data.
 b.
In Python, dictionaries are the built-in implementation of hash tables.
Python dictionaries use hash functions to convert keys into indices,
allowing quick access to values via these keys. Each key in a Python
dictionary must be hashable, meaning its hash value is consistent. Python
dictionaries store key-value pairs in an underlying hash table structure,
abstracting the complexities of hashing, handling collisions, and resizing
from the user. This makes dictionaries very efficient for associative array
operations and is the primary reason behind their speed and flexibility.
Thus, Python dictionaries are a high-level, optimized implementation of the hash
table concept.

1.Write a code to create a string with your name and print it.

9.Can lists contain different data types in Python?

Yes, lists in Python can contain different data types. Python lists are heterogeneous,
meaning they can hold elements of various types within the same list, such as integers,
f
 loats, strings, booleans, other lists, tuples, and even dictionaries. This flexibility is a
feature of Python’s dynamic typing system, where each element in a list is a reference to
an object that can be of any type. Therefore, it is common and perfectly valid to have
mixed data types in a single list.

10. Explain why strings are immutable in Python?

Python strings are immutable, meaning that once a string object is created, its content cannot be changed. Any operation that appears to modify a string actually creates a new string object with the desired changes, and the original string remains untouched.

11.What advantages do dictionaries offer over lists for certain tasks?

Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

12. Describe a scenario where using a tuple would be preferable over a list?

 Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

13. How do sets handle duplicate values in Python?


In Python 3, sets inherently do not allow duplicate values. When you attempt to add an element that already exists in a set, the operation is simply ignored, and the set remains unchanged. The duplicate element is not stored.

14.“in” keyword work differently for lists and dictionaries?

The in keyword in Python is used for membership testing, but its behavior differs for lists and dictionaries due to their underlying structures.
#For Lists:
When used with a list, the in keyword checks for the presence of a specific element within the list. It performs a linear search, iterating through each element of the list from beginning to end and comparing it to the target value. If a match is found, it returns True; otherwise, it returns False.

#For dictionary
When used with a dictionary, the in keyword checks for the presence of a specific key within the dictionary. It does not check for values directly. Dictionaries are implemented using hash tables, which allow for very efficient key lookups. If the key exists in the dictionary, it returns True; otherwise, it returns False.

15. Can you modify the elements of a tuple? Explain why or why not?

Elements of a tuple cannot be modified because tuples are immutable data structures
in Python. Immutability means once a tuple is created, its elements cannot be changed,
added, or removed. This property ensures that the tuple remains fixed and
unchangeable throughout its lifetime, unlike lists which are mutable and allow changes.
If you try to modify a tuple element directly, Python will raise a TypeError indicating that
item assignment is not supported. However, you can work around this by converting the
tuple to a list, modifying the list, and then converting it back to a tuple. But technically,
this creates a new tuple rather than modifying the original one.
The immutability of tuples provides several benefits:
● It guarantees that the data remains constant, making programs safer and more
predictable.
● Tuples can be used as keys in dictionaries or elements in sets because they are
hashable.
● It improves performance since Python can optimize access to immutable   
objects.

16.What is a nested dictionary, and give an example of its use can

A nested dictionary is a dictionary that contains one or more dictionaries as its values.
Essentially, it is a dictionary inside another dictionary. This structure allows you to
organize complex or hierarchical data in a clean and structured manner.
Explanation
In programming, a dictionary is a collection of key-value pairs enclosed within curly
braces {}. When the value for a key itself is another dictionary, this forms a nested
dictionary. This is useful for representing data with multiple levels, like records
containing multiple attributes or grouped information.

17. Describe the time complexity of accessing elements in a dictionary?

The time complexity of accessing elements in a dictionary, such as retrieving a value by its key or checking for key existence, is generally O(1) on average. This indicates constant time complexity, meaning the time taken for the operation does not significantly increase with the size of the dictionary.
This efficiency is attributed to the internal implementation of dictionaries as hash tables. Hash tables utilize a hash function to map keys to specific memory locations, allowing for direct access to the corresponding values.
However, in the worst-case scenario, if there are numerous hash collisions (where different keys produce the same hash value), the time complexity can degrade to O(n), where 'n' is the number of elements in the dictionary. This worst-case scenario is relatively rare due to well-designed hash functions and collision resolution strategies in most programming languages.

18.In what situations are lists preferred over dictionaries?


Lists are preferred over dictionaries in situations where:
Order of elements is important: Lists maintain the insertion order of elements, allowing for operations that rely on sequence, such as accessing elements by their numerical index (e.g., the first, second, or last item).
Sequential processing is needed: When iterating through a collection of items in a specific order, or performing operations on all items in a sequence, lists are a natural fit.
Duplicate elements are allowed: Lists can store multiple instances of the same value, which is not possible with dictionary keys (which must be unique).
Data is primarily accessed by numerical index: If elements are typically retrieved based on their position within the collection, lists offer efficient O(1) access time for index-based retrieval.
Simple collections of similar items: For straightforward collections of related data where a key-value association is not necessary, lists provide a concise and efficient way to store and manage the data.
Operations like appending and extending are frequent: Lists are designed for efficient modification at the end of the sequence, making them suitable for scenarios where elements are frequently added or removed from the end

19.Why are dictionaries considered unordered, and how does that affect data retrieval?


Dictionaries are considered "unordered" because, historically and by design, their primary purpose is fast, key-based access, not maintaining the order of insertion or any other sequence, though Python 3.7+ preserves insertion order as an implementation detail. This unordered nature means you cannot rely on a specific sequence when iterating or printing items, and data retrieval is always based on the unique key, not a positional index.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

+ In a list, data retrieval involves accessing elements by index, which is straightforward but linear in search
time if the element’s position is unknown. In contrast, a dictionary allows access to data by key, offering
faster retrieval regardless of element count.

In [1]:
name="santosh"
print(name)
print(type(name))

santosh
<class 'str'>

2.Write a code to find the length of the string "Hello World"

In [ ]:
text="Hello World"
print(len("Hello World"))

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
s = "Python Programming"
first_three = s[:3]
print(first_three)

Pyt

In [ ]:
s="super market"
first_three = s[:3]
print(first_three)

sup

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
s="hello"
upper_s= s.upper()
print(upper_s)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "I like apple"
new_s = s.replace("apple", "orange")
print(new_s)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using union() method
union_set = set1.union(set2)
print(union_set)

# Using | operator
union_set_operator = set1 | set2
print(union_set_operator)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Using intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)

# Using & operator
intersection_set_operator = set1 & set2
print(intersection_set_operator)

{2, 3}
{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
person={'name':'john','age':25}
person['country']='USA'
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
person={'name':'bob','age':22,'city':'new york'}
remove=person.pop('age')
print(person)

{'name': 'bob', 'city': 'new york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
person={'name':'alice','city':'paris'}
if 'city'in person:
  print("key 'city' is exists")
else:
  print("key'city' does not exist")

key 'city' is exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[21, 42, 54, 60, 65]

In [ ]:
import random

# creat a loist of 5 random numbers between 1 and 100
random_numbers = [random.randint(1,100) for _ in range (5)]

# sort the list in ascending order
random_numbers.sort()

# print the sorted list
print(random_numbers)

[6, 7, 40, 56, 66]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Creating two dictionaries
dict1 = {'name': 'John', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

# Method 1: Using update() method (modifies dict1)
dict1.update(dict2)
print("Combined dictionary using update():", dict1)

Combined dictionary using update(): {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [ ]:
# creat a list of strings
my_list = ['apple','banana','apple','cherry','banana']

# convert the list to a set
my_set = set(my_list)

# print the set
print(my_set)

{'cherry', 'apple', 'banana'}